{% block _candidate_row %}
<div class="row">
    <div class="col-6">
        {{ form_row(form.fullName) }}
    </diV></br>
    <div class="col-6">
        {{ form_row(form.email) }}
    </diV></br>
    <div class="col-6">
        {{ form_row(form.telephone) }}
    </diV></br>
    <div class="col-6">
        {{ form_row(form.headshot) }}
    </diV></br>
    <div class="col-6">
        {{ form_row(form.resume) }}
    </diV></br>
    
</div>

   
{% endblock %}