
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello M. {{email.toName|upper }} </h1>
    <h3>Subject : {{email.subject}} </h3>
    <p>
 Dear {{email.toName|upper }}, <br>
I am contacting you to confirm the date and time of your job interview to mr {{candidateName|upper}}. 
The goal of this interview is for us to get to know the candidate better. We also want to learn about his goals and expectations to see if this position is a good match for him.
Here are the interview details: <br>
-Data :{{date}}  <br>
-Location :Complexe Technologique SQLI، Bd Mohammed VI, Oujda 60000 <br>
-Interviewe title :{{title}}
   </p>
   <div>
   <img src="{{ email.image('@img/sql_logo.png') }}" alt="Logo" style="width:350px">
   </div>
</div>
{% endblock %}
