{{ form_start(form) }}
  <div class="wrapperr" style="background-color:#ffffff">
    <div class="innerr">
      <h3>User</h3>
      <div class="form-holder">
        <span class="lnr lnr-user"></span>
        {{ form_widget(form.fullName,{'attr': {'class': 'form-controll text-center font-weight-normal','placeholder':'FullName'}}) }}
        {{form_errors(form.fullName)}}
        
      </div>
      <div class="form-holder col">
        <span class="lnr lnr-phone-handset"></span>
        {{form_widget(form.telephone,{'attr': {'class': 'form-controll text-center font-weight-normal','placeholder':'Phone'}})}}
      </div> 
      <div class="form-holder">
        <span class="lnr lnr-envelope"></span>
        {{ form_widget(form.email,{'attr': {'class': 'form-controll text-center font-weight-normal','placeholder':'Email'}}) }}
      </div>
      <div class="form-holder">
       &emsp;&emsp;&emsp; <span class="lnr lnr-lock"></span>
        {{ form_widget(form.password,{'attr': {'class': 'form-controll text-center font-weight-normal','placeholder':'Password'}}) }}
      </div>
      <div class="custom-file">
        {{form_widget(form.headshot, {'attr': {'class': 'custom-file-input'}})}}
        <label class="custom-file-label" for="customFileLang"><span class="lnr lnr-picture"></span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Headshot</label>
      </div>
         </br><br>
       <div class="form-holder">
        <span class="lnr lnr-users"></span>
        {{ form_widget(form.role,{'attr': {'class': 'form-controll text-center font-weight-normal','placeholder':'Role'}}) }}
      </div>
    <br>
       <div class="text-center" >   
                <button class="btn btn-secondary" style="font-weight: bolder;">{{ button_label|default('Add') }}</button>   
       </div>
{{ form_end(form) }}

