{# {% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
{% block body %}
   
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Headshot</th>
                <th>Email</th>
               
                <th>FullName</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>   <img src="{{ asset('uploads/headshots/'~ user.headshot) }}" alt="image" /> </td>
                <td>{{ user.email }}</td>
                <td>{{ user.FullName }}</td>
                <td>{{ user.Telephone }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no users found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block body %}
    
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Users</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">

<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
 
  <!-- /.navbar -->

  <!-- Main Sidebar C
  ontainer -->
  

  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
   
      <!-- Main content -->
      <section class="content col-md-12" style="margin-left: -15%;">
  
      <!-- Default box -->
      <div class="card card-solid">
    
        <div class="card-body pb-0">
          <div class="text-right" >
    <a href="{{ path('app_user_new') }}"class="btn btn-secondary" ><i class="bi bi-person-plus-fill"></i> <span></span></a>
    </div>
          <div class="row">
               {% for user in users %}
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">
                
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>{{ user.FullName }}</b></h2>
                      {# {%if user.roles is defined%}
                      <p class="text-muted text-sm"><b>Level: </b> {{ user.roles }}</p>
                      {%endif%} #}
                       {% for role in user.roles %}
                 {%if role =='ROLE_INTERLOCUTOR'%}
                  <p class="text-muted text-sm"> <b>Role: </b>Interlocutor</p>
                   {%else %}
                   <p class="text-muted text-sm"> <b>Role: </b> Rh</p>
                   {% endif %}
                 {% endfor %}
                     
                      </div>
                    <div class="col-5 mb-4 text-center">
                      <img src="{{ asset('uploads/headshots/'~ user.Headshot) }}"  alt="candidate" class="img-circle img-fluid">
                    </div>
                    <div>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><i class="lnr lnr-envelope"></i></span> Email: {{ user.Email }}</li>
                        <li class="small"><i class="lnr lnr-phone-handset"></i></span> Phone #: + 212 - {{ user.Telephone }}</li>
                      </ul>
                      </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">

                    <a href="{{ path('app_candidate_edit', {'id': user.id}) }}"class="btn btn-sm bg-teal">
                      <span><i class="lnr lnr-pencil"></i></span>  Edit
                    </a>

                    <a  href="{{ path('app_candidate_show', {'id': user.id}) }}"class="btn btn-sm btn-primary">
                    {# <span><i class="lnr lnr-eye"></i> </span> #}
                    <i class="lnr lnr-eye"></i>    Show
                    </a>
                  
                  </div>
                </div>
              </div>
            </div>
                {% endfor %}
           
          </div>
        </div>
        <!-- /.card-body -->
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {# <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer> #}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/js/bootstrap.bundlee.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
{# <script src="/js/demo.js"></script> #}
</body>
</html>
   
{% endblock %}
